<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="login-form">
        <form>
            <div class="form-control">
                <p style="color: white; text-align: center; font-size: x-large; letter-spacing: .25rem">注册</p>
            </div>

            <div class="form-control">
                <input class="form-input" type="text" placeholder="用户名">
                <div class="form-text">最少需要4个字符</div>
            </div>

            <div class="form-control">
                <input class="form-input" type="email" placeholder="邮箱">
                <div class="input-line"></div>
                <span class="form-text">最少需要6个字符</span>
            </div>

            <div class="form-control">
                <input class="form-input" type="password" placeholder="密码">
                <div class=""></div>
                <span class="form-text">最少需要9个字符</span>
            </div>

            <div class="form-control">
                <input class="form-input" type="password" placeholder="确认密码">
                <span class="form-text">两次密码不一致</span>
            </div>

            <button class="login">注册</button>
            <a class="cant-login" routerLink="/home">取消</a>
        </form>
        <div class="" style="background: rgba(20,20,20,.8); display: flex; flex-direction: column; align-items: center; padding: 1.5rem">
            <p style="color: white; text-align: center; margin-bottom: 2rem">已有账号?</p>
            <a class="signup" routerLink="/login">立即登录</a>
        </div>
    </div>
</div>
