<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="login-form">
        <form>
            <div class="form-control">
                <p style="color: white; text-align: center; font-size: x-large; letter-spacing: .25rem">登录</p>
            </div>

            <div class="form-control">
                <input class="form-input" type="email" placeholder="邮箱">
                <span class="form-text">最少需要6个字符</span>
            </div>

            <div class="form-control">
                <input class="form-input" type="password" placeholder="密码">
                <span class="form-text">最少需要9个字符</span>
            </div>

            <button class="login">注册</button>
            <a class="cant-login" routerLink="/forget-password">无法登录?</a>
        </form>
        <div class="" style="background: rgba(20,20,20,.8); display: flex; flex-direction: column; align-items: center; padding: 1.5rem">
            <p style="color: white; text-align: center; margin-bottom: 2rem">没有账号?</p>
            <a class="signup" routerLink="/signup">免费注册</a>
        </div>
    </div>
</div>
